@import "tailwindcss";


/* @theme {
  --animate-slide-up:slide-up 1s ease-in-out infinite;

  @keyframes slide-up {
    0%, 20%   { transform: translateY(0%); }
    25%, 45%  { transform: translateY(-100%); }
    50%, 70%  { transform: translateY(-200%); }
    75%, 95%  { transform: translateY(-300%); }
    100%      { transform: translateY(0%); }
  }

} */