@import "tailwindcss";


/* @theme {
  --animate-slide-up:slide-up 1s ease-in-out infinite;

  @keyframes slide-up {
    0%, 20%   { transform: translateY(0%); }
    25%, 45%  { transform: translateY(-100%); }
    50%, 70%  { transform: translateY(-200%); }
    75%, 95%  { transform: translateY(-300%); }
    100%      { transform: translateY(0%); }
  }

} */
 @theme {
  --animate-ping-once: ping-once 1s cubic-bezier(0, 0, 0.2, 1) forwards;

  @keyframes ping-once {
    0% {
      transform: scale(1);
      opacity: 0.5;
    }
    75%, 100% {
      transform: scale(2);
      opacity: 0;
    }
  }
}
